extends layout

block content

  form(method='POST', enctype='multipart/form-data')
    img#loaded(src='')
    br
    input#files(type="file", name="image")
    input(type="hidden", name="x1")
    input(type="hidden", name="y1")
    input(type="hidden", name="width")
    input(type="hidden", name="height")
    input(type='submit', value='Upload')
  
  script(type='text/javascript', src='/js/index.js')
